* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(241, 185, 111);
}

.calendar-wrapper {
    display: grid;
    grid-template-rows: auto auto 1fr;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5px;
    background: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
}

/* .current-month {

} */

.month-btns {
    display: flex;
    align-items: center;
    border: 1px solid white;
}

button {
    background: black;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    align-items: center;
    border: 1px solid white;
}

button:hover {
    background: rgb(241, 185, 111);
}

.week-days-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border: 1px solid white;
}

.days-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border: 1px solid red;
}

.day {
    border: 1px solid red;
    padding: 15px;
}



